<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="event-schedule-area-two bg-color pad100 bg-color" style="padding-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center text-color" style="padding-bottom: 50px;">
                    <div class="title-text">
                        <h1>Songs Ranking</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    @for (song of songs; track $index)
                                    {
                                    <tr class="inner-box">

                                        <th scope="row">
                                            <div class="event-date">
                                                <span>#{{$index+1}}</span>
                                            </div>
                                        </th>

                                        <td>
                                            <div class="event-img">
                                                <img src="{{song.albumImage}}"
                                                    onerror="this.onerror=null; this.src='defaultImg.jpg'" />
                                            </div>
                                        </td>

                                        <td>
                                            <div class="event-wrap">
                                                <h2><a routerLink="{{song._id}}">{{song.name}}</a></h2>

                                                <div class="meta">
                                                    <div class="organizers">
                                                        <p>{{song.genres}}</p>
                                                    </div>

                                                    <div class="time">
                                                        <p>{{song.length}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="r-no">
                                                <span>
                                                    <p>Likes</p>
                                                    <h4>{{song.likes | likes}}</h4>
                                                </span>
                                            </div>
                                        </td>

                                        <td>
                                            @if (song.createdBy._id === userId || !userId)
                                            {
                                            <div>
                                            </div>
                                            }
                                            @else if (!hasLiked(song))
                                            {
                                            <div>
                                                <button type="button" class="btn btn-primary"
                                                    (click)="likeSong(song._id)">Like</button>
                                            </div>
                                            }
                                            @else
                                            {
                                            <div>
                                                <button class="btn btn-primary"
                                                    (click)="unlikeSong(song._id)">Unlike</button>
                                            </div>
                                            }
                                        </td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>