<div class="d-flex align-items-center justify-content-center background bg-color" style=" margin-top: 0;">
    <div class="text-center" style="margin-bottom: 5%;">
        <img class="image-size" src="screenshot_20241209_000316.png" alt="">
        <h1 class="display-1 fw-bold text-danger">404</h1>
        <p class="fs-3 text-color"><span class="text-danger">Oops!</span> Page not found.</p>
        <p class="lead text-color">Seems like we broke a string...</p>
        <a routerLink="/" class="btn btn-primary">Go Home</a>
    </div>
</div>