@if (!editMode)
{
<div>
    <h2>{{band.name}}</h2>

    <div>
        <p>Genres</p>
        <p>{{band.genres}}</p>
    </div>

    <div>
        <p>Origin</p>
        <p>{{band.origin}}</p>
    </div>

    <div>
        <p>Members</p>
        <p>{{band.members}}</p>
    </div>

    <div>
        <p>Description</p>
        <p>{{band.description}}</p>
    </div>

    <div>
        <p>Added by</p>
        <p>{{band.createdBy?.username}}</p>
    </div>

    <div>
        <p>Likes</p>
        <p>{{band.likes | likes}}</p>
    </div>

    @if (isOwner)
    {
    <div>
        <button (click)="toggleEditMode()">Edit</button>
        <button>Delete</button>
    </div>
    }
    @else if (!hasLiked)
    {
    <div>
        <button (click)="likeBand()">Like</button>
    </div>
    }
    @else
    {
    <div>
        <button (click)="unlikeBand()">Unlike</button>
    </div>
    }

    <div style="margin-top: 150px;">
        <fieldset>
            <div>Comments</div>
            @if(band.comments)
            {
            @for (comment of band.comments; track $index)
            {
            <div>
                <p>{{comment.content}}</p>
                @if(comment.creator === userId)
                {
                <button (click)="deleteComment(comment._id)">Delete</button>
                }
            </div>


            }
            }

            <form #form="ngForm" (ngSubmit)="postComment(form)">
                <div style="margin-top: 40px;">
                    <textarea name="bandText" type="comment" name="comment" placeholder="Add a comment" ngModel
                        #inputComment="ngModel" minlength="1" required></textarea>
                </div>

                <div>
                    <button>Post Comment</button>
                </div>
            </form>

        </fieldset>
    </div>
</div>
}
@else
{
<div>
    <form #form="ngForm" (ngSubmit)="updateBand(form)">
        <fieldset>
            <p>
                <label for="name"></label>
                <input type="name" name="name" id="name" placeholder="name" ngModel #inputName="ngModel"
                    [(ngModel)]="band.name" required>
            </p>

            <p>
                <label for="origin"></label>
                <input type="origin" name="origin" id="origin" placeholder="origin" ngModel #inputOrigin="ngModel"
                    [(ngModel)]="band.origin" required minlength="2">
            </p>

            <p>
                <label for="genres"></label>
                <input type="genres" name="genres" id="genres" placeholder="genres" ngModel #inputGenres="ngModel"
                    [(ngModel)]="band.genres" required minlength="2">
            </p>

            <p>
                <label for="members"></label>
                <input type="members" name="members" id="members" placeholder="members" ngModel #inputMembers="ngModel"
                    [(ngModel)]="band.members" required minlength="4">
            </p>

            <p>
                <label for="description"></label>
                <input type="description" name="description" id="description" placeholder="description" ngModel
                    #inputDescription="ngModel" [(ngModel)]="band.description" required minlength="4">
            </p>

            <button>Update band</button>
            <button type="button" (click)="toggleEditMode()">Cancel</button>
        </fieldset>
    </form>
</div>
}