<section class="section about-section bg-color" style="width: 100vw; height: 100vh;" id="about">
    <div class="container">
        <div class="row align-items-center justify-content-around flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text">

                    <h3 style="color: rgb(47, 42, 92);">{{profileDetails.username}}</h3>
                    <h4 class="theme-color">asd{{'@'}}asd.coim</h4>

                    <p>Added bands</p>
                    <p>Added songs</p>

                    <p>Liked bands</p>
                    <p>Liked songs</p>
                </div>
            </div>
        </div>
    </div>
</section>