<div class="profile-container">
    <!-- Profile Information Section -->
    <div class="profile-info">
        <h2 class="profile-title">User Profile</h2>
        <div class="profile-details">
            <label for="username">Username:</label>
            <span id="username">JohnDoe</span>
        </div>
        <div class="profile-details">
            <label for="email">Email:</label>
            <span id="email">johndoeexample.com</span>
        </div>
    </div>

    <!-- Scrollable List Sections -->
    <h2>Liked Bands</h2>
    <div class="scrollable-lists">
        <div class="scrollable-container">
            @for (band of likedBands; track $index)
            {
            <div class="item">
                <img src="{{band.bandImage}}" onerror="this.onerror=null; this.src='defaultImg.jpg'" class="item-image">
                <div class="item-text">
                    <a routerLink="{{band._id}}" class="item-title">{{band.name}}</a>
                    <p class="item-description">{{band.origin}}</p>
                    <p class="item-description">{{band.genres}}</p>
                </div>
            </div>
            }
        </div>

        <!-- Scrollable List Sections -->
        <h2>Liked Songs</h2>
        <div class="scrollable-lists">
            <div class="scrollable-container">
                @for (band of likedBands; track $index)
                {
                <div class="item">
                    <img src="{{band.bandImage}}" onerror="this.onerror=null; this.src='defaultImg.jpg'"
                        class="item-image">
                    <div class="item-text">
                        <p class="item-title">{{band.name}}</p>
                        <p class="item-description">{{band.origin}}</p>
                        <p class="item-description">{{band.genres}}</p>
                    </div>
                </div>
                }
            </div>

            <!-- Scrollable List Sections -->
            <h2>Created Bands</h2>
            <div class="scrollable-lists">
                <div class="scrollable-container">
                    @for (band of likedBands; track $index)
                    {
                    <div class="item">
                        <img src="{{band.bandImage}}" onerror="this.onerror=null; this.src='defaultImg.jpg'"
                            class="item-image">
                        <div class="item-text">
                            <p class="item-title">{{band.name}}</p>
                            <p class="item-description">{{band.origin}}</p>
                            <p class="item-description">{{band.genres}}</p>
                        </div>
                    </div>
                    }
                </div>

                <!-- Scrollable List Sections -->
                <h2>Created Songs</h2>
                <div class="scrollable-lists">
                    <div class="scrollable-container">
                        @for (band of likedBands; track $index)
                        {
                        <div class="item">
                            <img src="{{band.bandImage}}" onerror="this.onerror=null; this.src='defaultImg.jpg'"
                                class="item-image">
                            <div class="item-text">
                                <p class="item-title">{{band.name}}</p>
                                <p class="item-description">{{band.origin}}</p>
                                <p class="item-description">{{band.genres}}</p>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>