<header>
    <nav class="navbar navbar-expand navbar-dark nav-color fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">Distortion Pit</a>

            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/songs-ranking" routerLinkActive="active">Songs Ranking</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/bands-ranking" routerLinkActive="active">Bands Ranking</a>
                </li>

                @if(!isLoggedIn)
                {
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
                </li>
                }
                @else
                {
                <li class="nav-item">
                    <a class="nav-link" routerLink="/create-song" routerLinkActive="active">Add a song</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/create-band" routerLinkActive="active">Add a band</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link float-start " routerLink="/profile" routerLinkActive="active">{{username}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
                </li>
                }

            </ul>

        </div>
    </nav>
</header>