@if (!hasLoaded)
{
<app-loader />
}
@else
{
@if (!editMode)
{
<div class="bg-color text-color" style="width: 100vw; height: 100vh; overflow: auto">
    <div class="container" style="padding-top: 5%;">
        <div class="row flex-lg-row-reverse align-items-center">
            <div class="col-lg-6">
                <div class="lc-block">
                    <img class="img-fluid" src="{{song.albumImage}}" loading="lazy" width="900" height="900"
                        onerror="this.onerror=null; this.src='defaultImg.jpg'">

                </div>
            </div>
            <div class="col-lg-6">
                <div class="lc-block">
                    <h1 style="padding-bottom: 10%; font-size: 62px;">{{song.name}}</h1>

                    <div class="info">
                        <h3>Band</h3>
                        <p class="lead">{{song.band}} </p>
                    </div>

                    <div class="info">
                        <h3>Genres</h3>
                        <p class="lead">{{song.genres}} </p>
                    </div>

                    <div class="info">
                        <h3>Length</h3>
                        <p class="lead">{{song.length}} </p>
                    </div>

                    <div class="info">
                        <h3>Created by</h3>
                        <p class="lead">{{song.createdBy?.username}} </p>
                    </div>

                    <div>
                        <h3>Likes</h3>
                        <p class="lead">{{song.likes | likes}} </p>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 3%;">
            @if (!userId)
            {
            <div>
            </div>
            }
            @else if (isOwner)
            {
            <div>
                <button class="btn btn-primary" (click)="toggleEditMode()" style="margin-right: 1%;">Edit</button>
                <button class="btn btn-primary" (click)="deleteSong()">Delete</button>
            </div>
            }
            @else if (!hasLiked)
            {
            <div>
                <button class="btn btn-primary" (click)="likeSong()">Like</button>
            </div>
            }
            @else
            {
            <div>
                <button class="btn btn-primary" (click)="unlikeSong()">Unlike</button>
            </div>
            }
        </div>

    </div>

    <div class="container bg-color">
        <div class="container be-comment-block bg-color">

            @if(userId)
            {
            <form class="form-block" #form="ngForm" (ngSubmit)="postComment(form)">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <textarea class="form-input" name="bandText" type="comment" name="comment"
                                placeholder="Add a comment" ngModel #inputComment="ngModel" minlength="1"
                                required></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary pull-right post-comment-btn">Post Comment</button>
                </div>
            </form>
            }

            @if(song.comments)
            {
            <h1 class="comments-title">Comments ({{song.comments.length}})</h1>
            @for (comment of song.comments; track $index)
            {
            <div class="be-comment comment-border">
                <div class="be-comment-content">
                    <span class="be-comment-name">
                        <h4>{{comment.creator.username}}</h4>
                    </span>

                    <span class="be-comment-time">
                        <i class="fa fa-clock-o"></i>
                        {{comment.createdAt | timeConverter}}
                    </span>

                    <p class="be-comment-text">
                        {{comment.content}}
                    </p>
                    @if(comment.creator._id === userId)
                    {
                    <button class="btn btn-primary" (click)="deleteComment(comment._id)">Delete</button>
                    }
                </div>
            </div>
            }
            }
        </div>

    </div>

</div>

}
@else
{
<div class="bg-color text-color" style="width: 100vw; height: 100vh;">
    <div class="container" style="padding-top: 5%;">
        <div class="row flex-lg-row-reverse align-items-center">
            <div class="col-lg-6">
                <div class="lc-block">
                    <img class="img-fluid" src="{{song.albumImage}}" loading="lazy" width="900" height="900"
                        onerror="this.onerror=null; this.src='defaultImg.jpg'">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="lc-block">

                    <form #form="ngForm" (ngSubmit)="updateSong(form)">
                        <div class="form-floating field-spacing info">
                            <input type="name" name="name" class="form-control" id="name" placeholder="Name"
                                style="font-size: 62px; padding-top:42px; padding-bottom: 45px;" ngModel
                                #inputName="ngModel" [(ngModel)]="song.name" required [class]="(
            (inputName?.touched && inputName?.errors?.['required']))
             ? 'is-invalid': ''">

                            @if (inputName?.touched && inputName?.errors?.['required'])
                            {
                            <small class="text-danger" style="font-size: 24px;">
                                Name is required!
                            </small>
                            }
                            @else if(inputName?.touched){
                            <small class="text-danger" style="font-size: 24px;">
                                Changing the name will reset the likes!
                            </small>
                            }

                        </div>

                        <div class="info">
                            <h3>Album Image</h3>
                            <div class="form-floating field-spacing info" style="color: black;">
                                <input type="albumImage" name="albumImage" class="form-control" id="albumImage"
                                    placeholder="Album Image" style="font-size: 20px; padding-bottom: 25px;" ngModel
                                    #inputAlbumImage="ngModel" [(ngModel)]="song.albumImage" required appImageUrl
                                    [class]="(
            (inputAlbumImage?.touched && inputAlbumImage?.errors?.['required']) || 
             (inputAlbumImage?.touched && inputAlbumImage?.errors?.['imageValidator']))
             ? 'is-invalid': ''">
                            </div>

                            @if(inputAlbumImage?.touched){
                            <div>
                                @if(inputAlbumImage?.errors?.['required'] ||
                                inputAlbumImage?.errors?.['imageValidator']){
                                <small class="text-danger">
                                    Must start with http/s://
                                </small>
                                }
                            </div>
                            }

                        </div>

                        <div class="info">
                            <h3>Band</h3>
                            <div class="form-floating field-spacing info" style="color: black;">
                                <input type="band" name="band" class="form-control" id="band" placeholder="Band"
                                    style="font-size: 20px; padding-bottom: 25px;" ngModel #inputBand="ngModel" required
                                    [(ngModel)]="song.band" [class]="(
            (inputBand?.touched && inputBand?.errors?.['required']))
             ? 'is-invalid': ''">
                            </div>

                            @if(inputBand?.touched){
                            <div>
                                @if(inputBand?.errors?.['required'])
                                {
                                <small class="text-danger">
                                    Band name is required
                                </small>
                                }
                            </div>
                            }

                        </div>

                        <div class="info">
                            <h3>Genres</h3>
                            <div class="form-floating field-spacing info" style="color: black;">
                                <input type="genres" name="genres" class="form-control" id="genres" placeholder="Genres"
                                    style="font-size: 20px; padding-bottom: 25px;" ngModel #inputGenres="ngModel"
                                    required minlength="3" [(ngModel)]="song.genres" [class]="(
            (inputGenres?.touched && inputGenres?.errors?.['required']) || 
             (inputGenres?.touched && inputGenres?.errors?.['minlength']))
             ? 'is-invalid': ''">
                            </div>

                            @if(inputGenres?.touched){
                            <div>
                                @if(inputGenres?.errors?.['required'] || inputGenres?.errors?.['minlength']){
                                <small class="text-danger">
                                    Must be at least 3 characters
                                </small>
                                }
                            </div>
                            }

                        </div>

                        <div class="info">
                            <h3>Song Length</h3>
                            <div class="form-floating field-spacing info" style="color: black;">
                                <input type="length" name="length" class="form-control" id="length" placeholder="Length"
                                    style="font-size: 20px; padding-bottom: 25px;" ngModel #inputLength="ngModel"
                                    required minlength="4" [(ngModel)]="song.length" [class]="(
            (inputLength?.touched && inputLength?.errors?.['required']) || 
             (inputLength?.touched && inputLength?.errors?.['minlength']))
             ? 'is-invalid': ''">
                            </div>

                            @if(inputLength?.touched){
                            <div>
                                @if(inputLength?.errors?.['required'] || inputLength?.errors?.['minlength']){
                                <small class="text-danger">
                                    Must be at least 4 characters
                                </small>
                                }
                            </div>
                            }

                        </div>
                        <button class="btn btn-primary" style="margin-right: 1%;">Save changes</button>
                        <button class="btn btn-primary" type="button" (click)="toggleEditMode()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
}
}