.toast {
    animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.toast {
    position: fixed;
    top: 15%;
    right: 5%;
    align-items: center;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    margin-bottom: 5px;
    border-radius: 5px;
}

.toast.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}