<body class="d-flex align-items-center py-4 bg-color" style="width: 100vw; height: 100vh;">

    <main class="form-signin w-100 m-auto">
        <form #form="ngForm" (ngSubmit)="createSong(form)">
            <img class="mb-4" src="https://i.pinimg.com/736x/50/2d/45/502d45c0b42ddee3519a20227d500976.jpg" alt=""
                width="220" height="220" style="margin-left: 40px; mix-blend-mode: multiply;">
            <h1 class="h3 mb-3 fw-normal text-color" style="margin-left: 96px;">Add song</h1>

            <div class="form-floating field-spacing">
                <input type="albumImage" name="albumImage" class="form-control" id="albumImage" placeholder="Band Image"
                    ngModel #inputAlbumImage="ngModel">
                <label for="floatingInput">Album Image</label>
            </div>

            <div class="form-floating field-spacing">
                <input type="name" name="name" class="form-control" id="name" placeholder="Name" ngModel
                    #inputName="ngModel" required>
                <label for="floatingInput">Name</label>
            </div>

            <div class="form-floating field-spacing">
                <input type="genres" name="genres" class="form-control" id="genres" placeholder="Genres" ngModel
                    #inputGenres="ngModel" required minlength="2">
                <label for="floatingInput">Genres</label>
            </div>

            <div class="form-floating field-spacing">
                <input type="band" name="band" class="form-control" id="band" placeholder="Band" ngModel
                    #inputBand="ngModel" required minlength="2">
                <label for="floatingInput">Band</label>
            </div>

            <div class="form-floating field-spacing">
                <input type="length" name="length" class="form-control" id="length" placeholder="Length" ngModel
                    #inputLength="ngModel" required minlength="4">
                <label for="floatingInput">Length</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit" style="margin-top: 10px;">Add song</button>
        </form>
    </main>
</body>