<body class="d-flex align-items-center py-4 bg-color" style="width: 100vw; height: 100vh;">

    <main class="form-signin w-100 m-auto">
        <form [formGroup]="form" (ngSubmit)="login()">
            <img class="mb-4" src="hand-rock-and-roll-composition-illustration-vector.jpg" alt="" width="220"
                height="220" style="margin-left: 40px; mix-blend-mode: multiply;">
            <h1 class="h3 mb-3 fw-normal text-color" style="margin-left: 110px;">Log in</h1>

            <div class="form-floating field-spacing">
                <input type="username" name="username" class="form-control" id="floatingInput" placeholder="Username"
                    formControlName="username"
                    [class]="isFieldTextMissing('username') || isNotMinLength('username') ? 'is-invalid' : 'isvalid'">

                @if(isFieldTextMissing('username') || isNotMinLength('username')){
                <small class="text-danger">
                    Must be at least 3 characters long.
                </small>
                }
                <label for="floatingInput">Username</label>
            </div>



            <div class="form-floating field-spacing">
                <input type="pass" name="password" class="form-control" id="floatingPassword" placeholder="Password"
                    formControlName="password"
                    [class]="isFieldTextMissing('password') || isNotMinLength('password') ? 'is-invalid' : 'isvalid'">
                <label for="floatingPassword">Password</label>
            </div>

            @if(isFieldTextMissing('password') || isNotMinLength('password')){
            <small class="text-danger">
                Must be at least 6 characters long.
            </small>
            }

            <button class="btn btn-primary w-100 py-2" type="submit" style="margin-top: 10px;">Log in</button>
            <p class="mt-5 mb-3 text-color">Not signed up? <a routerLink="/register">Register</a>
            </p>
        </form>
    </main>

</body>